body {
    background-color: #1a1a1a;
    color: #00ff00; /* Grüne Schrift für das Terminal-Design */
    font-family: 'Courier New', Courier, monospace; /* Monospace-Schriftart für Terminal-Style */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Verhindert Scrollen */
}
h1 {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 2.1vw; /* Responsive Schriftgröße */
}
.story, .puzzle-container {
    background-color: #222;
    padding: 2.2vh; /* Responsive Padding */
    border-radius: 10px;
    margin: 0.8vh 0; /* Responsive Margin */
    width: 80vw; /* Responsive Breite */
    max-width: 600px; /* Maximale Breite */
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 1.05vw;
}
.puzzle-container {
    background-color: #333;
    padding: 2.5vh; /* Responsive Padding */
}
.database-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2.5vh; /* Responsive Margin */
}
.database-table th, .database-table td {
    border: 1px solid #00ff00; /* Grüne Ränder */
    padding: 1.4vh; /* Responsive Padding */
    text-align: center;
    font-size: 1.1vw !important;
    font-family: 'Courier New', Courier, monospace; /* Monospace-Schriftart für Terminal-Style */
    color: #00ff00; /* Grüne Schrift für das Terminal-Design */
}
input[type="text"] {
    padding: 1.5vh; /* Responsive Padding */
    font-size: 1vw; /* Responsive Schriftgröße */
    margin-bottom: 2vh; /* Responsive Margin */
    border: 1px solid #fafafa; /* Weiße Umrandung */
    border-radius: 5px;
    width: 80%; /* Volle Breite */
    max-width: 800px; /* Maximale Breite */
    background-color: #222; /* Dunkler Hintergrund */
    color: #ffffff; /* Weiße Schrift */
    caret-color: #fdfdfd; /* Blinkender Cursor */
}
button {
    padding: 1.45vh 1.45vw; /* Responsive Padding */
    font-size: 1.05vw; /* Responsive Schriftgröße */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1vh;
}
button:hover {
    background-color: #45a049;
}
.message {
    margin-top: 2vh; /* Responsive Margin */
}
.inventory {
    position: fixed;
    bottom: 2vh; /* Responsive Position */
    left: 1vw; /* Responsive Position */
    background-color: #444;
    padding: 1.15vh 0.8vw; /* Responsive Padding */
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}
.inventory-item {
    margin-right: 10px;
    font-size: 1vw; /* Responsive Schriftgröße */
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Arial, sans-serif;
    color: white;
}
.modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 2vh; /* Responsive Padding */
    border: 1px solid #888;
    width: 80vw; /* Responsive Breite */
    max-width: 600px; /* Maximale Breite */
    border-radius: 10px;
    text-align: center;
}
.result {
    font-size: 2vw; /* Größerer Text */
    font-weight: bold; /* Fettdruck */
    margin: 10px 0;
}
.correct {
    color: #4CAF50; /* Grüne Farbe für richtig */
}
.incorrect {
    color: #f44336; /* Rote Farbe für falsch */
}
.separator {
    border-top: 1px solid #888;
    margin: 10px 0;
    width: 100%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 1.5vw; /* Responsive Schriftgröße */
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* Zentrierung des Buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}