* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
 
    body {
      font-family: Arial, sans-serif;
      background-color: #1a1a1a;
      color: #f0f0f0;
    }
 
    header {
      background-color: #333;
      padding: 2vw; /* Responsive padding */
      text-align: center;
      font-size: 2vw; /* Responsive font size */
      color: #f0f0f0;
    }
 
    .container {
      display: flex;
      flex-direction: row;
    }
 
    .sidebar {
      background-color: #444;
      width: 40vw; /* Responsive width */
      max-width: 350px;
      padding: 2vw; /* Responsive padding */
      display: flex;
      flex-direction: column;
      align-items: center; /* Center buttons */
      gap: 1vw; /* Responsive gap */
    }
 
    .sidebar button {
      background-color: #555;
      color: #f0f0f0;
      border: none;
      padding: 0.8vw; /* Reduziertes Padding */
      cursor: pointer;
      text-align: center;
      border-radius: 2vw;
      width: 80%; /* Responsive width */
      font-size: 1.2vw; /* Reduzierte Schriftgröße */
    }
 
    .sidebar button:hover {
      background-color: #666;
    }
 
    .main-content {
      flex-grow: 1;
      padding: 2vw; /* Responsive padding */
      background-color: #2e2e2e;
      min-height: 100vh;
    }
 
    .hidden {
      display: none;
    }
 
    .container-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Vier Boxen in einer Reihe */
      justify-items: center; /* Zentriert die Boxen auf der X-Achse */
      gap: 2vw; /* Responsive gap */
      max-width: 1200px;
      margin: 0 auto;
    }
 
    .box {
      background-color: #555;
      background-size: cover;
      background-position: center;
      padding: 1vw; /* Reduziertes Padding */
      border-radius: 10px;
      text-align: left;
      position: relative;
      height: 200px; /* Reduzierte Höhe */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.3s;
      width: 90%; /* Breite der Boxen */
    }
 
    .box:hover {
      transform: translateY(-5px);
    }
 
    .box-title {
      position: absolute;
      top: 5px; /* Reduziertes Padding */
      left: 5px; /* Reduziertes Padding */
      background-color: rgba(0, 0, 0, 0.7);
      color: #f0f0f0;
      padding: 3px 5px; /* Reduziertes Padding */
      border-radius: 5px;
      font-size: 1.2vw; /* Reduzierte Schriftgröße */
    }